<header class="header">
  <div class="header-content">
    <div class="left-header">
      <img src="assets/L.png" alt="Lifeline Pampanga Logo" class="logo" />
      <nav class="nav-buttons">
        <button routerLink="/">HOME</button>
        <button routerLink="/about">About</button>
        <button routerLink="/jobs">JOBS</button>
        <button *ngIf="isAdmin" routerLink="/manage-jobs">MANAGE JOBS</button>
        <button routerLink="/contact">Contact</button>
        <button *ngIf="!isAdmin" routerLink="/login">Admin Login</button>
        <button *ngIf="isAdmin" (click)="logout()">Logout</button>

      </nav>
    </div>
    <div class="social-icons">
      <img src="assets/facebook.png" alt="Facebook" />
      <img src="assets/twitter.png" alt="Twitter" />
      <img src="assets/instagram.png" alt="Instagram" />
    </div>
  </div>
</header>

<router-outlet></router-outlet>