<div class="job-board">
    
    <h1>LIFELINE PAMPANGA</h1>
    <div *ngFor="let job of jobs" class="job-listing">
      <h2>{{ job.title }}</h2>
      <p>{{ job.description }}</p>
      <button class="apply-btn" (click)="navigateToApply(job._id)">APPLY NOW</button>
    </div> 
    <footer class="footer">
      <p>Follow us:</p>
      <div class="social-icons">
        <img src="assets/facebook-icon.png" alt="Facebook" />
        <img src="assets/twitter-icon.png" alt="Twitter" />
        <img src="assets/instagram-icon.png" alt="Instagram" />
      </div>
    </footer>
  </div>