<div class="job-board">
  <h2>LIFELINE PAMPANGA</h2>

  <div *ngFor="let job of jobs" class="job-listing">
      <div class="job-info">
          <h2>{{ job.title }}</h2>
          <p>Additional Details</p>
          <span class="underline"></span>
          <span class="underline"></span>
          <p>{{ job.description }}</p>
      </div>
      <button class="apply-btn" (click)="navigateToApply(job._id)">APPLY NOW</button>
  </div>

  <footer class="footer">
      <p>Soc Med Icons</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/login" target="_blank">
            <img src="assets/facebook.png" alt="Facebook" />
        </a>
        <a href="https://twitter.com/login" target="_blank">
            <img src="assets/twitter.png" alt="Twitter" />
        </a>
        <a href="https://www.instagram.com/accounts/login/" target="_blank">
            <img src="assets/instagram.png" alt="Instagram" />
        </a>
      </div>
  </footer>
</div>
