<main class="main-content">
    <section class="hero">
        <h1>LIFELINE PAMPANGA</h1>
        <img src="assets/L.png" alt="Lifeline Pampanga Logo" class="hero-logo" />
        <h3>Empowering Communities, One Job at a Time</h3>
        <div class="buttons">
            <button class="btn-primary" [routerLink]="'/jobs'">Find Job</button>
            <button class="btn-secondary" [routerLink]="'/contact'">Contact Us</button>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="social-icons">
        <a href="https://www.facebook.com/login" target="_blank">
            <img src="assets/facebook.png" alt="Facebook" />
        </a>
        <a href="https://twitter.com/login" target="_blank">
            <img src="assets/twitter.png" alt="Twitter" />
        </a>
        <a href="https://www.instagram.com/accounts/login/" target="_blank">
            <img src="assets/instagram.png" alt="Instagram" />
        </a>
    </div>
</footer>